VITE_GITHUB_OWNER=baditaflorin
VITE_GITHUB_REPO=witness-attestation
VITE_REPOSITORY_URL=https://github.com/baditaflorin/witness-attestation
VITE_PAYPAL_URL=https://www.paypal.com/paypalme/florinbadita
